.catalog h1{
    text-align: center;
    margin-bottom: 50px;
}

.catalog .product {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.catalog-body{
    background-color: red;
}
.cat-btn{
    color: black;
    background-color: lightgray;
    margin-bottom: 75px;
    margin: 10px;
    font-weight: 700;
}

.cart .parent {
    display: flex;
}

.cart .products{
    flex: 3;
}

.cart .side-menu {
    flex:3
}