.shop-list{
    padding: 120px 10px;
}
.shop-list ul {
    text-align: center;
}
.shop-list ul li{
    list-style-type: none;
    margin-bottom: 5px;
    font-weight: bold;
    color: black
}
.form input{
    margin-left: 10px;
}
.form label{
    font-weight: bold;
}
.form button{
    font-weight: bold;
    margin-left: 5px;
    background-color: white;
   margin-bottom: 4px;
}